/* app container */

.sugges h2 {
    margin-top: 0;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    margin-left: 8px;
}

.app__container {
    background-color: #f1f5f5;
}

.app__container.product-details {
    margin-bottom: 25px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    font-weight: 100;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    /* margin-left: 9px; */
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    border-bottom: 1px solid #e1e1e1;
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    /* width: 100%; */
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 6px 16px;
    display: block;
    transition: right linear 0.3s;
    position: relative;
    right: 0;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}


/* home fitter */

.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
    align-items: center;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88cf81;
}

.mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    text-align: center;
    overflow: hidden;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 3px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}

.home-fitter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-fitter__label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 16px;
}

.home-fitter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-fitter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-fitter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-fitter__page-current {
    color: var(--primary-color);
}

.home-fitter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-fitter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-fitter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-fitter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

.home-fitter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
    pointer-events: none;
}

.home-fitter__page-btn--disable .home-fitter__page-icon {
    color: #ccc;
}


/* productt */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: tranform linear 0.1s;
    will-change: tranform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 6px;
    align-items: center;
}

.home-product-item__like {
    font-size: 1.3rem;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

i.home-product-item__like-icon-fill {
    display: none;
    color: #f63d30;
}

.home-product-item__rating {
    font-size: 0.9rem;
    color: #d5d5d5;
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    margin: 0 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand {
    margin-right: auto;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(-50%);
}

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: -1px;
}

.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    top: -10px;
}

.home-product--pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}


/* test banner */

.banner__slider {
    padding: 0 8px;
}

.banner__slider>.slick-prev,
.banner__slider>.slick-next {
    display: none !important;
}

.banner {
    padding: 25px 0 10px;
    text-align: center;
}

.banner-deal {
    display: flex;
    padding: 0 8px 15px;
}

.banner-deal__logo>img {
    width: 150px;
    height: 70px;
    border-radius: 5px;
    display: block;
}

.banner-deal__timer {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.banner-deal__timer>div {
    font-size: 1.9rem;
    padding: 0 10px;
    align-self: baseline;
}

.banner-deal__timer>div:nth-child(1) {
    color: #DD0000;
}

.banner-deal__timer>div:nth-child(2) {
    color: #f60;
}

.banner-deal__timer>div:nth-child(3) {
    color: orange;
}

.banner-deal__timer>div:nth-child(4) {
    color: #abcd58;
    font-size: 1.6rem;
}

.banner-deal h2 {
    text-align: left;
    margin: 0 8px 10px;
    font-size: 1.6rem;
    color: #f60;
    text-shadow: -5px 3px 10px rgba(0, 0, 0, 0.2);
    display: block;
}

.banner__title {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 20px;
    position: relative;
    overflow: hidden;
}

.banner__title--sale {
    position: absolute;
    top: 10px;
    right: -30px;
    margin: 0;
    color: #fff;
    font-size: 1.8rem;
    background-color: #f60;
    padding: 0 30px;
    transform: rotate(45deg);
    text-align: center;
}

.banner-list:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .3);
}

.banner__title h3 {
    color: #fff;
    font-size: 2.6rem;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: -6px 3px 15px rgba(0, 0, 0, 0.5);
}

.banner__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px 0;
}

.banner__content-product {
    text-decoration: none;
    display: block;
    width: 30%;
    cursor: pointer;
    position: relative;
}

.banner__content-product-infor {
    position: absolute;
    width: 200%;
    height: 200%;
    background: #ccc;
    border-radius: 5px;
    bottom: 0;
    z-index: 1;
    left: 100%;
    display: flex;
    justify-content: center;
    display: none;
    animation: fadein linear 0.3s;
    flex-direction: column;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .5);
}

.banner__content-product:not(:nth-child(1)) .banner__content-product-infor {
    left: -50%;
}

.banner__content-product:last-child .banner__content-product-infor {
    left: -100%;
}

.banner__content-product-infor-icon {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 1.8rem;
    color: #333;
}

.banner__content-product-name {
    margin: 0;
    text-align: center;
    color: chocolate;
    font-weight: 800;
    padding: 5px 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 2.2rem;
    margin-bottom: 3px;
}

.banner__content-product-descreption {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.banner__content-product-descreption:last-of-type {
    color: #757575;
}

.banner__content-product-descreption span {
    color: red;
}

.banner__content-product-infor img {
    margin-top: auto;
    width: 100%;
    height: 50px;
}

.banner__content-product:hover {
    box-shadow: -3px 3px 15px red;
}

.banner__content-product:hover .banner__content-product-infor {
    display: flex;
}

.banner__content-product>img {
    width: 100%;
    height: 75px;
}

.banner-list:nth-child(even) .banner__title {
    background: url(https://image.winudf.com/v2/image/Y29tLmJlc3R3YWxscGFwZXIubGVub3ZvLndhbGxwYXBlcl9zY3JlZW5fMF8xNTI2MTQ1NjIwXzA5NA/screen-0.jpg?fakeurl=1&type=.jpg);
    background-position: center right;
}

.banner-list:nth-child(odd) .banner__title {
    background: url(https://image.winudf.com/v2/image/Y29tLmJlc3R3YWxscGFwZXIubGVub3ZvLndhbGxwYXBlcl9zY3JlZW5fMF8xNTI2MTQ1NjIwXzA5NA/screen-0.jpg?fakeurl=1&type=.jpg);
    background-position: center;
}


/* test banner */