/* Mobile - Tablet */

@media (max-width:1023px) {
     :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list-item {
        max-height: 40vh;
    }
    .header__cart-list::after {
        display: none;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__sort-bar {
        display: flex;
    }
    .app__content {
        padding-top: 8px;
    }
    .mobile-category {
        display: block;
    }
}


/* Tablet */

@media (min-width:740px) and (max-width:1023px) {
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 80px;
    }
}


/* Mobile */

@media (max-width:739px) {
    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }
    .header__logo,
    .header__cart {
        width: unset;
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        height: 46px;
        z-index: 1;
        padding: 0 16px;
        animation: mobilesearchsidein linear 0.3s;
        display: none;
    }
    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
    }
    .pagination-item {
        margin: 0;
    }
    .pagination__link {
        font-size: 1.6rem;
        min-width: 36px;
        --height: 28px
    }
    .app__content {
        margin: 0 4px;
    }
    .header__mobile-search {
        display: block;
    }
    @keyframes mobilesearchsidein {
        from {
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }
        to {
            top: var(--header-height);
            opacity: 1;
        }
    }
    .footer__content {
        padding-left: 16px;
    }
    .footer__dowload-app-link {
        display: block;
        padding: 6px 8px;
    }
    .header__logo {
        width: 220px;
    }
    .header__logo-h3 {
        font-size: 22px;
    }
}

@media(max-width:500px) {
    .banner-deal__timer {
        padding: 0;
    }
    .banner-deal__timer>div {
        align-self: unset;
    }
    .banner-deal__logo>img {
        width: 100px;
        height: 50px;
    }
}

@media (max-width:330px) {
    .header__logo-h3 {
        padding-right: 0;
    }
}

@media(max-width:1023px) {
    .sugges h2 {
        margin-bottom: 0;
    }
}


/* responsive chi tiết sản phẩm */

@media (max-width:1024px) {
    .installment-cart {
        flex-direction: column;
    }
    .add-to-cart,
    .installment {
        margin: 0 0 10px 0;
    }
    .form-input {
        flex-direction: column;
    }
    .form-input__name,
    .form-input__mail,
    .form-input__button button,
    .form-input__link {
        width: 100%;
        margin-top: 15px;
    }
    .form-input__button {
        width: 100%;
    }
}

@media(max-width:768px) {
    .clearfix {
        flex-wrap: nowrap;
    }
    .product__details-img-wapper {
        overflow: hidden;
    }
}